.frame-child70 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.frame-child71 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-27xl);
  background-color: var(--color-blanchedalmond);
  border: 1px solid var(--color-royalblue);
  box-sizing: border-box;
}
.prepare-for-a4 {
  height: 14.063rem;
  width: 54.75rem;
  position: relative;
  line-height: 3.125rem;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 1;
}
.rectangle-parent23 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-87xl) var(--padding-xl);
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
}
.day-320 {
  margin: 0;
  position: relative;
  font-size: inherit;
  text-transform: uppercase;
  font-weight: 400;
  font-family: inherit;
}
.day-3-ngorongoro-crater-wrapper6 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-2xl);
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-royalblue);
  font-family: var(--font-nexa-black);
}
.frame-parent65,
.frame-parent66,
.frame-wrapper7 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent66 {
  width: 71.188rem;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-55xl);
}
.frame-parent65,
.frame-wrapper7 {
  align-self: stretch;
}
.frame-wrapper7 {
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-2xl) 0 var(--padding-xl);
  box-sizing: border-box;
}
.frame-parent65 {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-36xl-5);
  text-align: center;
  font-size: var(--font-size-6xl);
  color: var(--color-gray-100);
  font-family: var(--font-nexa-book);
}
@media screen and (max-width: 1200px) {
  .frame-parent66 {
    gap: 2.313rem 4.625rem;
  }
}
@media screen and (max-width: 1050px) {
  .day-320 {
    font-size: var(--font-size-13xl);
  }
}
@media screen and (max-width: 750px) {
  .frame-parent66 {
    gap: 1.125rem 4.625rem;
  }
  .frame-parent65 {
    gap: 1.75rem 3.469rem;
  }
}
@media screen and (max-width: 450px) {
  .prepare-for-a4 {
    font-size: var(--font-size-xl);
    line-height: 2.5rem;
  }
  .rectangle-parent23 {
    padding-top: var(--padding-50xl);
    padding-bottom: var(--padding-50xl);
    box-sizing: border-box;
  }
  .day-320 {
    font-size: var(--font-size-5xl);
  }
}
